* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  /* background-repeat: repeat-x;
  background-color: teal; */
  /* background-image: url('../img/contact/Bg1.png');
  background-image: url('../img/footer/Bg3.png'); */
}
.gallery {
  background-image: url("../img/gallery/Bg.png");
  background-repeat: repeat-x;
  background-color: teal;
  width: auto;
  height: 500px;
}
.gallery-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  padding-top: 122px;
  padding-left: 165px;
  max-width: 40%;
}
.gallery-heading-money {
  padding-top: 27px;
}
.gallery-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #FFFFFF;
  padding-top: 46px;
  padding-left: 165px;
  max-width: 23%;
}
.gallery-icon {
  display:flex;
  align-items: center;
  padding-top: 45px;
  padding-left: 165px;
}
.gallery-icon-other {
  padding-left: 23px;
  padding-right: 23px;
}
.gallery-img-focused {
  position: absolute;
  top: 94px;
  right: 260px;
  z-index: 10;
}
.gallery-img-left {
  position: absolute;
  top: 116px;
  right: 366px;
  z-index: 9;
}
.gallery-img-right {
  position: absolute;
  top: 116px;
  right: 216px;
  z-index: 8;
}
.gallery-img-focused-photo, .gallery-img-left-photo, .gallery-img-right-photo {
  border-radius: 15px;
}

.contact {
  background-image: url("../img/contact/Bg1.png");
  background-repeat: repeat-x;
  background-color: teal;
  width: auto;
  height: 500px;
  position: relative;
}
.contact-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  padding-top: 140px;
  padding-left: 176px;
}
.contact-text {
  font-family: Lato;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  font-style: normal;
  padding-top: 57px;
  padding-left: 176px;
  padding-bottom: 270px;
  max-width: 23%;
}
.input {
  position: absolute;
  right: 450px;
  top: 140px;
}

.input-surname-first-text, .input-surname-last-text, .input-phone-text, .input-service-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}
.input-surname-first-text {
  padding: 21px 146px 20px 31px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
}
.input-surname-last-text {
  padding: 21px 149px 20px 31px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #333333;
}
.input-surname {
  display: flex;
}
.input-surname-first {
  margin-right: 30px;
}
.input-surname-last {
  right: 165px;
}
.input-phone-text {
  padding: 21px 403px 20px 31px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #333333;
}
.input-service-text {
  padding: 21px 411px 20px 31px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #333333;
}
.input-service-img {
  position: relative;
  bottom: 42px;
  left: 570px;
}
.input-submit-all {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 17px 34px 16px 34px;
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  box-sizing: border-box;
  border-radius: 6px;
}
/* .input-submit {
  border: 1.5px solid #ED4C5C;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ED4C5C; */
}